.app{
  height: 100vh;
  width: 100vw;
  background-color: rgb(213, 214, 213);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__container {
  width: 500px;
  height: 700px;
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  padding: 32px 10px;
}

.app__todoConatiner {
  flex: 1;
}